body {
  background: #2C2B3D;
  font-family: 'Open Sans', sans-serif;
}

.page{
  width: 1000px;
  margin: 71px 98px 21px;
  border: 1px red solid;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul{
  list-style: none;
  display: flex;
  gap: 64px;
}

li {
  font-family: 'JetBrains Mono', monospace;
  font-size: 14px;
  line-height: 28px;
  color: #FFFFFF;
}

a{
  text-decoration: none;
}

